.hand-cursor:hover{
    -fx-cursor: hand;
}

.opacity-08:hover{
    -fx-opacity: 0.8;
}

.sidebar{
    -fx-background-color: #2262C6;
    -fx-background-radius: 0px 0px 0px 0px;
}
.labbtn{
    -fx-background-color: #ffffff;
    -fx-background-radius: 4px;
}
.labbtn .label{
    -fx-font-size: 12px;
    -fx-font-family: Montserrat;
    -fx-text-fill: #7188e8;
    -fx-font-weight: bold;
}

.labbtn:hover{
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}
.sidebar-btn{
    -fx-background-color: transparent;
}
.sidebar-btn-text.active{
    -fx-text-fill: #fff;
    -fx-background-color: #2d2d2d;
}
.sidebar-btn-text {
    -fx-padding: 15px 20px;
    -fx-min-width: 260px;
}

.sidebar-btn-text:hover{
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}

.sidebar-btn-text .label {
    -fx-font-size: 16px;
    -fx-font-family: Montserrat;
    -fx-text-fill: inherit;
}


.sidebar-btn-text:hover{
  -fx-text-fill: #fff;
   -fx-opacity: 0.8;
    -fx-background-color: #2d2d2d;
}

.sidebar-btn:hover .sidebar-btn-text{
    -fx-text-fill: #7AA2E7;
}

.avatar-image{
    -fx-cursor: hand;
    -fx-background-radius: 50%;
}

.avatar-image:hover{
    -fx-opacity: 0.8;
}

.overview-admin-card{
    -fx-background-color: #fff;
    -fx-background-radius: 4px 20px 4px 4px;
    -fx-pref-height: 100px;
    -fx-pref-width: 300px;
    -fx-opacity: 0.85;
}

.overview-admin-card .title{
    -fx-font-family: Montserrat;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.overview-admin-card .content{
    -fx-font-family: Montserrat;
    -fx-font-size: 18px;
    -fx-text-fill: #7188e8;
}

/*Table view*/
* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-accent-color: #B6FF00;
    -fx-grey-color: #b9b9b9;
    -fx-light-grey-color: #d1d1d1;
    -fx-lightest-grey-color: #F9F9FB;
    -fx-lightblue-color: #e6f0ff;

    -fx-focus-color: #4B6EAF;
}

.table-button {
    -fx-background-color: #fff;
    -fx-cursor: hand;
}
.table-button:hover{
    -fx-background-color: transparent;
}
.table-view {
    -fx-border-color: white;
    -fx-background-color: -fx-lightblue-color; /* OR  -fx-background-insets: 0.0; */
}
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: #007acc;
}
.table-view .column-header {
    -fx-background-color: -fx-primary-color;
    -fx-border-color: #eef5fc;
}
.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: white;
}
/* This is just magic */
.table-row-cell:filled {
    -fx-background-color: transparent;
    -fx-border-color: #6e9cd0;
    -fx-border-insets: 0, 1;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.table-row-cell:filled:hover {
    -fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected:hover {
    -fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected {
    -fx-background-color: #eaeaea;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: black;
}
.table-view .cell:filled{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
}
.check-box-table-cell > .check-box:selected .box .mark {
    -fx-background-color: white;
}
.check-box-table-cell > .check-box:selected .box{
    -fx-background-color: -fx-accent-color;
}
.table-view .placeholder .label {
    -fx-text-fill: red;
    -fx-padding:20px;
}